---
import Icon from "../Icon.astro";

type Props = {
  id: string;
  title: string;
  subtitle: string;
  main: string[];
  other: string[];
};

const { id, title, subtitle, main, other } = Astro.props;
---

<section id={id} class="section section--light services">
  <div class="ds-container ds-container_type_short-color ds-container_has-backed services__container">
    <div class="ds-container__title-wrapper">
      <h2 class="ds-container__title">{title}</h2>
      <strong class="ds-container__subtitle">{subtitle}</strong>
    </div>

    <div class="ds-container__content ds-container__content_backed services__backed">
      <ul class="ds-list services__main">
        {main.map((item) => (
          <li class="ds-col-4 b-tags__main-item">
            <span class="ds-static-icon ds-static-icon_type_outline ds-static-icon_size_m b-tags__icon">
              <Icon name="check" size={24} class="ds-static-icon__icon" />
            </span>
            <span class="b-tags__main-item-text">{item}</span>
          </li>
        ))}
      </ul>

      <div class="ds-divider b-tags__divider" role="presentation"></div>

      <ul class="ds-tags-list services__tags">
        {other.map((item) => (
          <li class="services__tag">
            <span class="ds-tag">{item}</span>
          </li>
        ))}
      </ul>
    </div>
  </div>
</section>

<style>
  .b-tags__main-item {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  .b-tags__icon {
    flex-shrink: 0;
  }

  .b-tags__main-item-text {
    color: var(--text-dark);
    font-size: clamp(16px, 1.1vw + 12px, 19px);
    font-weight: 500;
    line-height: 1.55;
    padding-top: 4px;
  }

  .b-tags__divider {
    margin: 24px 0;
    background: var(--border-on-light);
  }

  .services__tags {
    margin: 0;
  }

  .services__tag {
    list-style: none;
  }

  @media (min-width: 620px) {
    .b-tags__main-item {
      gap: 12px;
    }
  }

  @media (min-width: 1024px) {
    .b-tags__main-item-text {
      font-size: 20px;
      line-height: 1.5;
      padding-top: 8px;
    }

    .b-tags__divider {
      margin: 32px 0;
    }
  }
</style>
