---
export type IconName = "check" | "menu" | "mail" | "telegram" | "whatsapp";

type Props = {
  name: IconName;
  class?: string;
  size?: number;
  title?: string;
};

const { name, class: className = "", size = 20, title } = Astro.props;

const common = {
  width: size,
  height: size,
  viewBox: "0 0 24 24",
  fill: "none",
  xmlns: "http://www.w3.org/2000/svg",
};
---

{name === "check" ? (
  <svg {...common} class={className} aria-hidden="true" focusable="false">
    <path
      d="M20 6L9 17l-5-5"
      stroke="currentColor"
      stroke-width="2.2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
) : null}

{name === "menu" ? (
  <svg {...common} class={className} aria-hidden="true" focusable="false">
    {title ? <title>{title}</title> : null}
    <path
      d="M4 7h16M4 12h16M4 17h16"
      stroke="currentColor"
      stroke-width="2.2"
      stroke-linecap="round"
    />
  </svg>
) : null}

{name === "mail" ? (
  <svg {...common} class={className} aria-hidden="true" focusable="false">
    <path
      d="M17.468 9.586a.75.75 0 0 0-.936-1.172l-3.13 2.5c-.756.601-2.057.601-2.814 0l-3.119-2.5a.75.75 0 0 0-.938 1.171l3.12 2.5.002.002c1.303 1.037 3.38 1.037 4.684 0z"
      fill="currentColor"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7 2.75c-1.615 0-3.075.404-4.135 1.388C1.795 5.132 1.25 6.607 1.25 8.5v7c0 1.893.545 3.369 1.615 4.362 1.06.984 2.52 1.388 4.135 1.388h10c1.615 0 3.075-.404 4.135-1.388 1.07-.993 1.615-2.469 1.615-4.362v-7c0-1.893-.545-3.368-1.615-4.362-1.06-.984-2.52-1.388-4.135-1.388zM2.75 8.5c0-1.607.455-2.632 1.135-3.263.69-.64 1.73-.987 3.115-.987h10c1.385 0 2.425.346 3.115.987.68.631 1.135 1.656 1.135 3.263v7c0 1.607-.455 2.631-1.135 3.263-.69.64-1.73.987-3.115.987H7c-1.385 0-2.425-.346-3.115-.987-.68-.632-1.135-1.656-1.135-3.263z"
      fill="currentColor"
    />
  </svg>
) : null}

{name === "telegram" ? (
  <svg {...common} class={className} aria-hidden="true" focusable="false">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20.76 4.03c.45.44.54 1.09.56 1.3.02.25 0 .55-.02.72-.17 3.83-.9 8.93-1.56 13.19-.11.71-.3 1.35-.63 1.87-.35.56-.9 1.02-1.65 1.1-.74.08-1.35-.15-1.8-.42-.4-.23-.76-.55-1.03-.77l-.46-.38c-1.12-.91-2.32-1.77-3.39-2.77-.5-.46-.93-1.09-.96-1.87l-1.4.31a5.6 5.6 0 0 1-.37-.03l-.48-.09c-.26-.06-.51-.14-.77-.22-.53-.16-1.06-.36-1.62-.52l-.24-.08-.8-.29-.35-.13c-.3-.11-.77-.29-1.14-.54-.22-.15-.5-.39-.7-.75a2.4 2.4 0 0 1-.25-1.22c.07-.67.46-1.14.77-1.42.72-.8 3.95-2.24 8.52-4.57 1.25-.64 2.52-1.28 3.79-1.88 1.18-.55 1.91-.85 2.61-.86.25-.01.49.03.7.1.25.08.57.25.92.53ZM8.1 15.09c.5.01.97-.11 1.4-.31l-.08-1.78c-.04-.1-.04-.21-.04-.31 0-.28.1-.53.29-.73l.38-.39c.11-.11.15-.17.17-.21a1 1 0 0 0-.12-.2L9.03 7.59l-.12-.08c-.06 0-.26 0-.51.25-.33.33-.56.7-.7 1.09-.15.41-.22.85-.22 1.27 0 .61.14 1.26.42 1.93.26.61.62 1.23 1.07 1.86z"
      fill="currentColor"
    />
  </svg>
) : null}

{name === "whatsapp" ? (
  <svg {...common} class={className} aria-hidden="true" focusable="false">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 2.25C6.615 2.25 2.25 6.615 2.25 12c0 1.65.41 3.21 1.13 4.59L2.3 21.75l5.28-1.06A9.72 9.72 0 0 0 12 21.75c5.385 0 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm0 1.5a8.25 8.25 0 0 1 8.25 8.25A8.25 8.25 0 0 1 12 20.25c-1.35 0-2.62-.33-3.75-.91l-.26-.13-3.09.62.62-3.01-.15-.28A8.2 8.2 0 0 1 3.75 12 8.25 8.25 0 0 1 12 3.75Zm.565 13.34c.67.29 1.31.43 1.93.43.44 0 .87-.08 1.27-.25.4-.17.77-.43 1.09-.78.18-.21.33-.44.46-.7.13-.28.2-.57.2-.87 0-.23-.04-.45-.14-.7-.12-.25-.3-.47-.53-.63l-1.67-1.18a2.2 2.2 0 0 0-.49-.27c-.45-.19-.96-.14-1.29.07-.18.09-.36.23-.54.41l-.14.14a3 3 0 0 1-.3-.23 14 14 0 0 1-1.44-1.44 3 3 0 0 1-.21-.26l-.03-.04.13-.14c.17-.17.3-.35.39-.5.14-.23.21-.49.21-.75 0-.19-.05-.39-.13-.59-.07-.17-.16-.34-.28-.5l-1.16-1.63c-.16-.24-.37-.42-.62-.53-.73-.35-1.65-.12-2.29.51-.34.32-.6.69-.76 1.1-.15.39-.23.81-.23 1.25 0 .62.14 1.27.42 1.93.26.61.62 1.23 1.07 1.86.44.6.94 1.18 1.48 1.73.54.54 1.13 1.04 1.73 1.48.61.45 1.24.81 1.87 1.08Z"
      fill="currentColor"
    />
  </svg>
) : null}

